/* --- Tags --- */

.blog-tags {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 0.9375rem;
  margin: 1.875rem 0;
}

.blog-tags span {
  color: _pallette(text-col);
  opacity: 0.8;
}

.blog-tags a {
  color: _pallette(text-col);
  text-decoration: none;
  padding: 0 0.3125rem;
  opacity: 0.8;
  border: 1px solid transparent;
  border-radius: 0.1875rem;
}

.blog-tags a:hover {
  opacity: 1;
  color: _pallette(text-col);
  border-color: _pallette(text-col);
}

.post-preview .blog-tags {
  margin-top: 0.3125rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .post-preview .blog-tags {
    margin-top: 0.625rem;
  }
}